$black-shadow: #555;

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.container {
    width: 560px;
    height: 560px;
    align-items: center;
    margin: auto;
    padding: 25px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: white;
}

.shadow {
    position: relative;
  
    &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: $black-shadow;
    -webkit-box-shadow: 0 15px 10px $black-shadow;
       -moz-box-shadow: 0 15px 10px $black-shadow;
            box-shadow: 0 15px 10px $black-shadow;
    -webkit-transform: rotate(-3deg);
       -moz-transform: rotate(-3deg);
         -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
    }
    
    &:after {
        -webkit-transform: rotate(3deg);
           -moz-transform: rotate(3deg);
             -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
                transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
}